<h1 class="pt-3">Icons integration</h1>
<p>This page shows some examples of how to integrate some Solaris icons inside your project.</p>
<h2>Find icons</h2>
<p>You can use the <a href="https://oran.ge/icons" target="_blank" rel="noopener">Solaris Icons Finder</a> to easily find your icons by keywords (in English or French), style, category or popularity.</p>
<h2>Use icons in your web page</h2>
<p>You can refer to the <a href="https://design.orange.com/0c1af118d/p/12bc75-develop" target="_blank" rel="noopener">develop documentation</a> to see in details the different integration possibilities: SVG sprite, web font, inline SVG, SVG as an external image or SVG in CSS background.</p>
<p>For the moment, the preferred technique is by using a SVG sprite file. You can generate this file directly from the Solaris Icons Finder tool.</p>
<p>You can also refer to <a href="https://boosted.orange.com/docs/5.3/extend/icons/" target="_blank" rel="noopener">Boosted icons documentation</a> to know more about SVG sprite icons integration with Boosted.</p>

<p>Here is an integration example, in light/dark mode:</p>
<p class="p-2 border" data-bs-theme="light">
  <svg width="1.875em" height="1.875em" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#settings" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-primary" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#settings" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-body-tertiary" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#trash" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-info" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#info" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-success" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#tick-confirmation" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-warning" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#warning-important-accessible" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-danger" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#error-severe" />
  </svg>
</p>
<p class="p-2 border" data-bs-theme="dark">
  <svg width="1.875em" height="1.875em" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#settings" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-primary" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#settings" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-body-tertiary" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#trash" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-info" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#info" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-success" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#tick-confirmation" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-warning" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#warning-important-accessible" />
  </svg>
  <svg width="1.875em" height="1.875em" class="text-danger" aria-hidden="true" focusable="false">
    <use xlink:href="assets/images/svg-sprite.svg#error-severe" />
  </svg>
</p>
<p>Please note that to have a correct yellow warning icon, with a black exclamation point inside (whatever the background color is), you have to use the <a href="https://boosted.orange.com/docs/5.3/extend/icons/#warning-icon" target="_blank" rel="noopener">two-color warning icon provided by Boosted</a>.</p>
<p>If you encounter any issue with the icons, please contact the <a href="https://teams.microsoft.com/l/channel/19%3A12f40b34261f4c86a130a2b4aff79933%40thread.tacv2/Solaris%20icons?groupId=1ccb63b0-3a7d-44dc-915b-e4c9ddc7f03a&tenantId=90c7a20a-f34b-40bf-bc48-b9253b6f5d20" target="_blank" rel="noopener">related Teams channel</a>.</p>
