/node_modules
/dist
ods-charts*.tgz
/docs/.astro
/docs/dist
/docs/node_modules
/docs/public
/docs/static/\[version\]/api
/test_local
/docs/static/\[version\]/ods-charts.js
/docs/static/\[version\]/ods-charts.js.map

# ESLint cache
.eslintcache