---
import BaseLayout from "@layouts/BaseLayout.astro"
import { Prism } from '@astrojs/prism'
import { getConfig } from '@libs/config'

const data = { title: 'ODS Charts' }

const version = getConfig().docs_version
---

<BaseLayout data={data}>
  <div class="docs-home-masthead bg-black mb-5" id="content" data-bs-theme="dark">
    <div class="container-xxl pt-4 pb-5">
      <div class="col-md-8">
        <h1 class="display-2 text-primary mb-2">ODS Charts</h1>

        <p class="lead fw-bold mb-4">
          Powerful and feature-packed frontend toolkit. ODS Charts is based on Apache Echarts, Orange branded and ergonomic charts library.
        </p>

        <div class="mb-4 d-inline-block user-select-all">
          <Prism code={`npm i ods-charts@${version} echarts`} lang="sh" />
        </div>

        <div class="mb-4">
          <a href={`${version}/`} class="btn btn-lg btn-primary">
            Read the docs
          </a>
        </div>

        <div class="hstack gap-2">
          <p class="mb-0">Currently v{version}</p>
          <div class="vr m-0 border-always-on-black"></div>
          <a href="/versions/" class="text-nowrap fw-bold">All releases</a>
        </div>
      </div>
    </div>
  </div>

  <section class="container-xxl">
    <div class="row">
      <div class="col-xl-4 pe-xl-5">
        <h2 class="display-4 text-primary mb-3">Get started easily</h2>
        <p class="lead fw-bold mb-3">Get started with Apache Echarts and ODS Charts easily.</p>
      </div>
      <div class="col-xl-8">
        <h2 class="display-4">Install via package manager</h2>
        <p class="lead">Install Apache Echarts and ODS Charts via npm, or yarn.</p>
        <div class="mb-3 user-select-all">
          <Prism code={`npm install ods-charts@latest echarts`} lang="sh" />
        </div>
        <div class="mb-3 user-select-all">
          <Prism code={`yarn add ods-charts@latest echarts`} lang="sh" />
        </div>
        <hr class="border-top border-1 border-light" />
        <h2 class="display-4">Use it in your project</h2>
        <p class="lead fw-bold mb-3">ODS Charts has been designed to be minimally intrusive and not to interfere with the use of the Apache ECharts library. The <a href="https://echarts.apache.org/en/option.html" target="_blank">Apache ECharts documentation</a> remains the reference for configuring charts.</p>
        <p>For instance, an Apache ECharts user can initialize a chart using code like this:</p>
        <div class="mb-3">
          <Prism code={`var div = document.getElementById('barLine_chart');
var myChart = echarts.init(div, undefined, {
  renderer: 'svg', // SVG is recommended
});
// display the chart.
myChart.setOption(dataOptions);`} lang="js" />
        </div>
        <p>Adding the theme managed by ODS Charts will then consist of doing:</p>
        <div class="mb-3">
          <Prism code={`// build the theme
var themeManager = ODSCharts.getThemeManager({
  // options can be used for configuration
});

// register this theme to echarts
echarts.registerTheme(themeManager.name, themeManager.theme);

var div = document.getElementById('barLine_chart');
var myChart = echarts.init(
  div,
  themeManager.name, // initialize the chart with the generated theme
  {
    renderer: 'svg', // SVG renderer is recommended
  }
);

// enrich data options to complete implementation of the Orange Design System.
myChart.setOption(themeManager.getChartOptions(dataOptions));`} lang="js" />
        </div>
        <p>The <code>themeManager</code> returned by <code>getThemeManager()</code> can be used to add other features supported by the ODS Charts library.</p>
      </div>
    </div>
  </section>
</BaseLayout>
