---
---

<footer class="footer navbar mt-5" data-bs-theme="dark">
  <h2 class="visually-hidden">Sitemap & information</h2>
  <div class="container-xxl footer-terms">
    <ul class="navbar-nav gap-md-3">
      <li class="fw-bold">© Orange 2024</li>
      <li><a class="nav-link" href="javascript:tarteaucitron.userInterface.openPanel();">Cookies</a></li>
      <li><a class="nav-link" href="https://github.com/Orange-OpenSource/ods-charts/blob/main/LICENSE" target="blank" rel="license noopener">License</a></li>
    </ul>
  </div>
</footer>
