name: Prettier Check
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 20

permissions:
  contents: read

jobs:
  css:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' || github.event_name == 'workflow_dispatch'

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "${{ env.NODE }}"
          cache: npm

      - run: node --version
      - run: npm --version

      - name: Install npm dependencies
        run: npm ci

      - name: Check Prettier
        run: npm run prettier:check
